<h1>Create Board</h1>
<%=form_with(model: @board, local: true, class: 'ui form') do |f|%>
    <div class='field'>
        <%=f.label :name %>
        <%=f.text_field :name, class: 'item'%>
    </div>
    <%= f.submit nil, class: 'ui green button'%>
    <% end %>