<nav>
<%= link_to 'Add Board', new_board_path, class: 'ui blue button' %>
<%= link_to 'Home', boards_path, class: 'ui blue button' %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ui button blue"%>
<hr />
<br/>
<br/>
</nav>